<div id="mapPNG" class="container">
    <img id="bkImg" src="../../assets/img/map.svg" class="img-fluid" alt="Responsive image">
</div>
<div id="description" class="container">
    <h2 id="detalii" class="text-justify">DETALII GENERALE</h2>
    <p class="context">Aceasta aplicatie , dezvoltata in cadrul proiectului de licenta este destinata atat angajatilor angajati in domeniul planificarii urbane cat si persoanelor interesate de impactul negativ pe care cresterea populatie in mediul urban il poate avea. Aplicatia
        sprijina asadar buna functionare a intregii retele urbanistice, de cladiri, poduri, drumuri, parcari, parcuri, spatii verzi etc prin instrumentele informatice menite sa ofere o imagine de ansamblu peste toate elementele care construies o comunitate
        dintr-o zona urbana.</p>
</div>