#bkImg {
    margin-top: -25%;
}

#description {
    margin-top: -250px;
    padding-left: 100px;
    padding-right: 100px;
}

.context {
    color: white
}

#detalii {
    color: white;
    margin-left: 40%;
    margin-bottom: 40px;
}