<html id='loginPage'>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src='../../assets/img/user.jpg' id="userIcon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="button" class="fadeIn fourth" (click)="clickLogin()" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
        </div>

    </div>
</div>

</html>

<!-- <button (click)="test()">Test</button> -->